/* Elections */
#elections table.header td.letterhead {text-align: top; width: 45%;}
#elections table.header td.letterhead p {text-align: right;}
#elections table.header td.address {text-align: top; padding-top: 3cm; padding-left: 1cm; width: 7cm;}
#elections hr {height: 2px; color: gray;}
#elections p.links {margin-bottom: 0; text-indent: 1.9em; font-size: 0.92em; color: gray;}
#elections ul.links {margin-top: 2px; font-size: 0.92em;}
#elections h4.question {margin-top: 2.5em; border-bottom: 1px solid #d7d7d7; padding-bottom: 2px; margin-bottom: 0;}
#elections h4 span {font-weight: normal;}
#elections p.noresponse {margin-left: 2em;}
#elections table.questions td:last-child p {margin-top: 0;}
#elections table tr.elected td, #elections span.elected {background-color: #ddd;}
#elections span.elected {padding: 2px 4px;}
#elections .jumplist {float: right; margin-left: 2em; margin-bottom: 1em; display: block;}
#elections .navigation {float: right; background-color: white;}
#elections p.directionsbutton {clear: right;}
#elections .graphic {clear: right; float: right;}
#elections table.responserates th, #elections table.responserates tr:last-child td {background-color: #f7f7f7;}
#elections table.responserates td:first-child {width: 20em;}
#elections p.allresponseslink {text-align: right; font-size: 0.83em; margin: 0; padding: 0; position: relative; top: -0.5em; opacity: 0.7;}
#elections div.electionform table td:first-child {width: 350px;}
@media print {
	#elections {font-size: 10pt;}
	#elections #location, #elections .navigation, #elections h1, #elections h2, #elections #footer {display: none;}
	#elections #content {width: 90%;}
	#elections .pagebreak {page-break-after: always;} /* Done this way to avoid first page being blank */
	#elections table.header {width: 100%;}
}
