# Election survey application

AddDefaultCharset utf-8


RewriteEngine On
RewriteBase /elections/

# Front page
RewriteRule ^$ index.php?action=home [L,QSA]

# User account
RewriteRule ^(login)/$ index.php?action=logininternal [L]
RewriteRule ^(login)$ $1/ [L,R=301]
RewriteRule ^login/(register|resetpassword|accountdetails)/$ index.php?action=$1 [L]
RewriteRule ^login/(register|resetpassword|accountdetails|logout)$ login/$1/ [L,R=301]
RewriteRule ^login/(register|resetpassword)/([a-z0-9]{24})/$ index.php?action=$1&token=$2 [L]
RewriteRule ^login/(register|resetpassword)/([a-z0-9]{24})$ login/$1/$2/ [L,R=301]
RewriteRule ^login/logout/$ index.php?action=logoutinternal [L]
RewriteRule ^login/logout$ $1/ [L,R=301]

# Submission page (this uses / at the end rather than .php as some candidates seem not to type that correctly)
RewriteRule ^submit/$ index.php?action=submit [L]
RewriteRule ^submit$ submit/ [R=301,L]

# Admin area
RewriteRule ^admin/$ index.php?action=admin [L]
RewriteRule ^admin$ admin/ [R=301,L]
RewriteRule ^([a-z0-9]+)/admin/$ index.php?action=admin&election=$1 [L]
RewriteRule ^([a-z0-9]+)/admin$ $1/admin/ [R=301,L]
RewriteRule ^admin/(settings|allquestions|allocations|letters|mailout|reminders|reissue|elected|addelection|editelection|addward|showwards|addcandidates|addquestions|deletequestions|addsurveys|addaffiliations|showaffiliations).html$ index.php?action=$1 [L]

# Overview page for an election
RewriteRule ^([a-z0-9]+)/$ index.php?election=$1&action=overview [L]
RewriteRule ^([a-z0-9]+)$ $1/ [R=301,L]

# List of all/per-ward questions available
RewriteRule ^([a-z0-9]+)/(editelection|letters|mailout|reminders|reissue|respondents|cabinet|elected).html$ index.php?election=$1&action=$2 [L]
RewriteRule ^([a-z0-9]+)/(questions)/$ index.php?election=$1&action=$2 [L]
RewriteRule ^([a-z0-9]+)/(questions)$ $1/$2/ [R=301,L]
RewriteRule ^([a-z0-9]+)/(questions)/([0-9]{1,2})/$ index.php?election=$1&action=$2&question=$3 [L]
RewriteRule ^([a-z0-9]+)/(questions)/([0-9]{1,2})$ $1/$2/$3/ [R=301,L]

# Overview page for an area in an election
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)/$ index.php?election=$1&ward=$2&action=area [L]
RewriteRule ^([a-z0-9]+)/([a-z0-9]+)$ $1/$2/ [R=301,L]

